@import url('../../../style/base.scss');

.header {
    display: block;

    &__logo {
        display: flex;
        &_title {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 29px;
            line-height: 32px;
            color: #FFFFFF;
            margin: 5px 15px 0 19%;
        }
        &_icon {
            size: 94px;
        }
    }
    &__nav {
        z-index: 2;
        &_btn {
            display: none;
        }
    }

    .menu {
        display: flex;
        justify-content: center;
        &_item {
            cursor: pointer;
            text-decoration: none;
            transition: all .2s ease-in .12s;
            margin-right: 75px;
            font-weight: 400;
            font-size: 31px;
            line-height: 128%;
            letter-spacing: 0.015em;
            text-transform: capitalize;
            color: #ECE2E2;
            &:hover {
                color: black;
                transition: 0.5s all;
            }
        }
        .active_item {
            text-decoration-line: underline;
            text-decoration-color: orange;
            animation: ani 1s linear forwards;

        }
        &_search {
            position: relative;
            display: flex;
            justify-content: flex-start;
            &_input {
                font-weight: 400;
                font-size: 12px;
                line-height: 128%;
                letter-spacing: 0.115em;
                //text-transform: capitalize;
                text-align: center;
                color: rgba(0, 0, 0, 0.93);
                display: flex;
                justify-content:flex-start;
                align-items: center;
                width: 170px;
                height: 28px;
                margin: auto auto;
                background: #D9D9D9;
                border-radius: 28px;
                border: none;
                outline: none;
            }

            &_submit {
                position: absolute;
                margin: 12px 0 0 5px;
                width: 17px;
                height: 17px;
            }
            &_title {
                margin: 14px;
                font-weight: 400;
                font-size: 12px;
                line-height: 128%;
                letter-spacing: 0.115em;
                text-transform: capitalize;
                color: rgba(0, 0, 0, 0.93);
            }
        }
        &_buy {
            margin-left: 25px;
            width: 29px;
            height: 29px;
        }
        &_lang {
            position: absolute;
            right: 3%;
            top: 25%
        }
    }
}

@media(max-width: 1600px) {
    .header {
        .menu {
            &_item {
                font-size: 23px;
                margin-right: 30px;
            }
            &_search{
                &_submit {
                    margin: 7px;
                }
            }
        }
    }

}

@media(max-width: 1400px) {
    .header {

        &__logo {

            &_title {
                font-size: 21px;
            }
        }

        .menu {
            &_item {
                cursor: pointer;
                margin-right: 35px;
                font-size: 21px;
                &:hover {
                    color: black;
                    transition: 0.5s all;
                    &:enabled {
                        text-decoration: overline;
                    }
                }


            }
            &_search {

                &_input {
                    font-size: 11px;
                    width: 128px;
                    height: 27px;
                    border-radius: 23px;
                }

                &_submit {
                    margin: 7px;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .header {

        &__logo {
            &_title {
                font-size: 21px;
            }
        }

        .menu {
            &_item {
                cursor: pointer;
                margin-right: 25px;
                font-size: 21px;
            }
            &_search {
                &_input {
                    font-size: 11px;
                    width: 128px;
                    height: 27px;
                    border-radius: 23px;
                }

                &_submit {
                    position: absolute;
                    margin: 8px;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {
    .header {

        &__logo {

        }
        &__nav {
            display: block;
            width: 100vw;
            &_btn {
                position: absolute;
                top: 10px;
                left: 20px;
                cursor:pointer;
                display: block;
                width: 20px;
                height: 20px;
                font-size: 45px;
                font-weight:bold;
                
                &::before{
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    content: '\2713';
                }
                //background-color: #fff;
            }
            .menu {
                display: flex;
                flex-wrap: wrap;
                height: 0px;
                width: 100%;
                background-color: rgba(71, 70, 73, 0.2);
                overflow-x: auto;
                overflow-y: hidden;
                margin-top: 10px;
                transition: 0.5s;
                &_buy {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                }
                &_lang {
                    position: relative;
                }
            }
            .activity {
                justify-content: space-around;
                height: 100px;
                .menu_search_submit {
                    margin: 16px;
                }
            }
        }
    }
}