.notFound {
    display: flex;
    justify-content: center;
    margin: 150px;
    font-weight: 400;
    font-size: 31px;
    line-height: 128%;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: #ECE2E2;
}