.app {
    min-height: 100vh;
    background: linear-gradient(to bottom right,#21E8C4 -20.42%, #179B93 10.64%, #267B87 41.69%, #0F474F 72.75%);
    margin: 0 auto;
    padding: 50px 0;
    
}   

.actives {
    opacity: 0.6;
}