@import url('../../../style/base.scss');


.promo {

    &_block {
        margin: 70px 20px 50px 70px;
        &_header {
            font-weight: 700;
            font-size: 74.1083px;
            line-height: 129%;
            letter-spacing: 0.015em;
            color: #FFFFFF;
        }
        &_subheader {
            margin-top: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;
            letter-spacing: 0.07em;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }
    &_showing {
        position: relative;
        display: flex;
        align-items:center;
        margin-left: 18%;

        &_title {
            position: absolute;
            display: flex;
            align-items:center;
            margin-left: 30px;
            width: 393px;
            height: 94px;
            background: #D9D9D9;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
            border-radius: 79px;
            p {
                margin: 40px;
                font-weight: 700;
                font-size: 19px;
                line-height: 129%;
                letter-spacing: 0.015em;
                color: #185955;
            }
        }
        &_element {
            position: absolute;
            display: block;
            margin-top: 96px;
            //width: 85%;
            width: 800px;
            filter: drop-shadow(0px 12px 19px rgba(0, 0, 0, 0.25));
            // transform: rotate(-15deg);
            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1767) 0%, rgba(0, 0, 0, 0.0057) 100%);
        }
    }
}

.disabled {
    display: none;
}

@media(max-width: 1600px) {
    .promo {
        &_block {
            &_subheader {
                letter-spacing: 0.1em;
            }
        }
        &_showing {
            
            &_element {
                width: 800px;
            }
        }
    }
}

@media(max-width: 1400px) {
    .promo {

        &_block {
            &_header {
                margin-top: -20%;
                font-size: 64.1083px;
            }
            &_subheader {
                line-height: 128%;
                letter-spacing: 0.015em;
            }
        }
        &_showing {
            margin-left: 20px;
            &_title {
                width: 373px;
                height: 84px;
                border-radius: 71px;
                p {
                    margin: 31px;
                    font-size: 18px;
                }
            }
            &_element {
                display: block;
                margin-top: 90px;
                height: auto;
                width: 790px;
                overflow: hidden;
                // transform: rotate(-15deg);
            }
        }
    }
    
}


@media(max-width: 1200px) {
    .promo {

        &_block {

            &_header {
                margin-top: -20%;
                font-size: 64.1083px;
            }
            &_subheader {
                line-height: 128%;
                letter-spacing: 0.015em;
            }
        }
        &_showing {
            margin-left: 20px;
            &_title {
                width: 373px;
                height: 84px;
                border-radius: 71px;
                margin-left: 50px;
                p {
                    margin: 25px;
                    font-size: 18px;
                }
            }
            &_element {
                margin-top: 90px;
                width: 120%;
                // transform: rotate(-15deg);
            }
        }
    }
    
}

@media(max-width: 991px) {

}

@media(max-width: 767px) {

}

@media(max-width: 575px) {
    .promo {
        //margin-top: 50px;
        &_block {
            width: 90%;
            margin: 0 auto ;
            &_header {
                display: none;
            }
            &_subheader {
                margin-top: 10px;
                border-top: 1px solid rgb(243, 247, 4);
                padding-top: 10px;
                text-align: center;
            }
        }
        &_showing {
            margin-left: 0;
            width: 92vw;
            border-bottom: 1px solid rgb(243, 247, 4);
            height: 300px;
            margin-top: 0;
            &_title {
                display: none;
            }
            &_element {
                margin-top: 0;
                width: 100%;
            }
        }
    }
}