@import url('../../style/base.scss');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
.slider {

    .slick-slider {
        .slick-dots {
            .slick-active {
                button:before {
                    color: orange;
                }
            }
            li {
                button:before {
                    color: #FAFF23;
                } 
            }
        }
    }
    
    &_btn {
        margin-left: 10%;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 21px;
        line-height: 129%;
        letter-spacing: 0.015em;
        color: rgba(250, 255, 35, 0.99);
        width: 194px;
        height: 58px;
        background: linear-gradient(106.81deg, #179B93 43.2%, rgba(217, 217, 217, 0.71) 61.6%);
        border-radius: 39px;
        border: none;
        cursor: pointer;
    }
    &_menu {
        // display: grid;
        // grid-template-columns: repeat(3, 190px);
        // gap: 90px;
            //justify-self: center;
            margin: auto;
            width: 800px;
        &_item {
            // z-index: 2;
            // align-self: center;
            // justify-self: center;
            margin: 20px auto 0;
            height: 160px;
            width: 192px;
            background: linear-gradient(180deg, rgba(250, 255, 35, 0.99) -4.65%, rgba(250, 255, 35, 0) 100%);
            border-radius: 28px;
            transition: 0.9s img;
            cursor: pointer;
            transition: 0.6s all;
            img {
                margin: 0 20px;
            }
        }
        &_name {
            text-align: center;
            margin-top: 20px;
            font-weight: 600;
            font-size: 13px;
            line-height: 128%;
            letter-spacing: 0.115em;
            text-transform: capitalize;
            color: #FFFFFF;
        }
    }

    
    .activity {
        cursor: default;
        background: #FAFF23;
        border-radius: 28px;
        transition: 0.9s activity;
        img {
            width: 162px;
            height: 162px;
            
            filter: drop-shadow(0px 29px 37px rgba(0, 0, 0, 0.56));
        }
        p {
            font-size: 14px;
            line-height: 128%;
            letter-spacing: 0.115em;
            text-transform: capitalize;
            color: #FFFFFF;
            text-shadow: 0px 1px 7px #000000;
        }
    }
}




@media(max-width: 1400px) {
    .slider {
    
        &_btn {
            font-size: 20px;
            width: 174px;
            height: 52px;
            border-radius: 38px;
        }
        &_menu {
            width: 700px;
        }
    }
}

@media(max-width: 1200px) {
    .slider {
    
        &_btn {
            font-size: 20px;
            width: 174px;
            height: 52px;
        }
        &_menu {
            width: 630px;
            &_item {
                height: 150px;
                width: 182px;
                img {
                    width: 80%;
                }
            }
        }
        .activity {
            
            img {
                margin: 14px;
                width: 152px;
            }
            p {
                line-height: 18%;
            }
        }
    }
}

@media(max-width: 991px) {
    .slider {
        &_menu {
            width: 570px;
            
        }

        // .slick-slider.slick-initialized {
        //     .slick-arrow .slick-prev {
        //         display: none;
        //     }
        // }
    }
}

@media(max-width: 767px) {

}

@media(max-width: 575px) {
    .slick-slider {
        .slick-prev {
            left: -100%;
            display: none;
        }
        .slick-next  {
            left: -100%;
        }
    }
    .slider {
        &_btn {
            grid-row: 2;
            margin-top: 30px;
            margin-left: 10px;
        }
        &_menu {
            width: 95vw;
            &_item {
                height: 140px;
                width: 150px;
            }

            
        }
        .activity {
            img {
                margin: 10px;
                width: 126px;
                height: 140px;
            }
        }
        
    }

}
