@import '../assets/fonts/Poppins/stylesheet.css';

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

.pages {
    display: flex;
    justify-content: center; 
    margin: 20vh;
}

.page_404 {
    color:  white;
    &__message {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-top: 30vh;
    }
    &__link {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 20vh;
    }
}